<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.blueberrysolution.pinelib21">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET"/>

    <!--安装APP-->
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />



    <application
        android:usesCleartextTraffic="true">


        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.blueberrysolution.pinelib21.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>


        <activity
            android:name=".permission.PermissionRequireActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:launchMode="singleTask" />
        <activity
            android:name=".view.choose_picture.PictureChooseActivity"
            android:theme="@style/Theme.AppCompat.Transpartent"
            android:launchMode="singleTask" />

        <activity
            android:name=".view.app_update.AppUpdateActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:launchMode="singleTask" />

    </application>
</manifest>